<template>
	<div
		:id="data.id"
		ref="window"
		class="app window-app"
		:class="[data.classes, { minimized: isMinimized }]"
		:data-appid="data.appId"
		:style="[calculatedPos, calculatedSize, { zIndex }]"
	>
		<header
			class="window-header flexrow draggable"
			@mousedown.prevent="onDragMouseDown"
			@dblclick.prevent="toggleMinimize"
			@click.prevent="updateZIndex"
		>
			<h4 class="window-title">{{ data.title }}</h4>
			<a
				v-for="(button, key) of data.headerButtons"
				v-show="button.class !== 'close' ? !isMinimized : true"
				:key="key"
				:class="button.class"
				@click.prevent="button.onclick"
				><i :class="button.icon" />{{ localize(button.label) }}</a
			>
		</header>

		<section ref="windowContent" class="window-content">
			<slot />
		</section>

		<div
			v-if="options.resizable"
			class="window-resizable-handle"
			@mousedown="onResizeMouseDown"
		>
			<i class="fas fa-arrows-alt-h" />
		</div>
	</div>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import { gsap } from 'gsap';
import { VueApplicationOptions } from '../foundry/VueApplication';
import { Localizable, Draggable } from '../mixins';

@Component
export default class FAppWindow extends Mixins(Localizable, Draggable) {
	@Prop() data: any;
	@Prop() options: VueApplicationOptions;

	$refs!: {
		window: HTMLElement;
		windowContent: HTMLElement;
	};

	isMinimized = false;
	zIndex = 0;

	updateZIndex() {
		if (Object.keys(ui.windows).length === 0) _maxZ = 100;
		this.zIndex = Math.min(++_maxZ, 9999);
	}

	mounted() {
		this.updateZIndex();
	}

	toggleMinimize() {
		if (!this.options.minimizable) return;

		if (!this.isMinimized) {
			this.isMinimized = true;
			gsap.to(this.$refs.window, {
				duration: 0.2,
				height: 30,
				width: 200,
				onComplete: () => {
					this.$refs.windowContent.style.display = 'none';
				},
			});
		} else {
			this.$refs.windowContent.style.display = null;
			gsap.to(this.$refs.window, {
				duration: 0.2,
				height: this.position.height,
				width: this.position.width,
				onComplete: () => {
					this.setPosition(this.position.left, this.position.top);
					this.isMinimized = false;
				},
			});
		}
	}
}
</script>

<style lang="scss"></style>
