<template>
	<div class="dialog-container">
		<div class="dialog-content" v-html="dialogData.content" />

		<div class="dialog-buttons">
			<button
				v-for="(button, id) of dialogData.buttons"
				:key="id"
				:data-button="id"
				@click.prevent="clickButton(button)"
				v-html="buttonLabel(button)"
			/>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FDialog extends Vue {
	@Prop() data: any;
	@Prop() buttons: any[];

	get dialogData() {
		return this.data.dialogData;
	}

	buttonLabel(button) {
		if (button.icon) return button.icon + button.label;
		return button.label;
	}

	clickButton(button) {
		if (button.callback) return button.callback();
		return;
	}
}
</script>
