<template>
	<button
		ref="button"
		type="button"
		class="file-picker"
		:data-type="type"
		:data-target="target"
		title="Browse Files"
		tabindex="-1"
		@click.prevent="openFilepicker"
	>
		<i class="fas fa-file-import fa-fw" />
	</button>
</template>

<script lang="ts">
/* global FilePicker */
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FFilepicker extends Vue {
	@Prop({ required: true }) type: string;
	@Prop({ required: true }) value: string;

	$refs!: {
		button: HTMLElement;
	};

	filepicker: FilePicker = null;

	get target() {
		return this.value;
	}

	set target(value) {
		this.$emit('input', value);
	}

	mounted() {
		this.filepicker = new FilePicker({
			type: this.type,
			current: this.target,
			button: this.$refs.button,
			callback: path => {
				this.target = path;
			},
		});
	}

	openFilepicker() {
		this.filepicker.browse(this.target);
	}
}
</script>
