<template>
	<div class="editor">
		<div ref="editor" class="editor-content" v-html="content" />
		<a
			v-if="button && editable"
			ref="button"
			class="editor-edit"
			@click.prevent="activateEditor"
			><i class="fas fa-edit"
		/></a>
	</div>
</template>

<script lang="ts">
/* global TextEditor */
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component
export default class FMceEditor extends Vue {
	@Prop() value: any;
	@Prop() button: boolean;
	@Prop() editable: boolean;

	$refs!: {
		editor: HTMLElement;
		button: HTMLElement;
	};

	editor = null;
	isChanged = false;

	get content() {
		return TextEditor.enrichHTML(this.value);
	}

	mounted() {
		this.save.bind(this);
	}

	activateEditor() {
		this.$refs.button.style.display = 'none';

		const editorData = {
			target: this.$refs.editor,
			setup: mce => {
				this.editor = mce;
			},
			save_onsavecallback: () => {
				this.save();
			},
		};
		// @ts-ignore
		TextEditor.create(editorData, this.value).then(mce => {
			const editor = mce[0];
			editor.focus(false);
			editor.on('change', () => (this.isChanged = true));
			editor.on('keydown', (ev: KeyboardEvent) => {
				if (ev.key === 'Escape') this.save();
			});
		});
	}

	save() {
		this.$emit('input', this.editor.getContent());
		this.$emit('change');
		this.editor.destroy();

		if (this.button) {
			this.editor.remove();
			this.$refs.button.style.display = null;
		}
		this.editor = null;
		this.isChanged = false;
		this.$refs.editor.innerHTML = TextEditor.enrichHTML(this.$refs.editor.innerHTML);
	}
}
</script>

<style></style>
