<template>
	<component :is="tag">
		<nav class="sheet-navigation tabs">
			<a
				v-for="({ label }, index) of tabs.items"
				:key="index"
				class="item"
				:class="{ active: index === activeTab }"
				@click.prevent="changeTab(index)"
				>{{ label }}</a
			>
		</nav>

		<section ref="tabContent" class="sheet-body">
			<slot />
		</section>
	</component>
</template>

<script lang="ts">
import { Vue, Component, Prop, Provide, Ref, Watch } from 'vue-property-decorator';

@Component
export default class FTabs extends Vue {
	@Prop({ default: 'div' }) tag: string;

	@Ref() tabContent!: HTMLElement;

	@Provide() tabs = {
		items: {},
	};

	@Watch('activeTab')
	onActiveTab(val, old) {
		if (old) this.tabs.items[old].active = false;
		this.tabs.items[val].active = true;
	}

	activeTab: string = null;

	changeTab(index) {
		this.activeTab = index;
	}

	mounted() {
		this.activeTab = Object.keys(this.tabs.items)[0];
	}
}
</script>

<style></style>
