<template>
	<div v-show="active" class="tab">
		<slot />
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject, Watch } from 'vue-property-decorator';

@Component
export default class FTab extends Vue {
	@Prop({ required: true }) name: string;
	@Prop({ required: true }) label: string;

	@Inject() readonly tabs!: {
		items: any;
	};

	active = false;

	@Watch('tabs', { deep: true })
	onTabChange() {
		this.active = this.tabs.items[this.name].active;
	}

	mounted() {
		this.$set(this.tabs.items, this.name, {
			label: this.label,
			active: false,
		});
	}
}
</script>

<style></style>
